<!DOCTYPE html>
<html lang="zh-CN" ng-app="app" ng-strict-di>
<head>
    <base href="/">

    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0"/>
    <meta name="Keywords" content="Web,Java,POJO,Development,开发,程序员">
    <meta name="description" content="POJO的个站和Blog。POJO,坐标上海,男,94年生,Web开发转读研,法语爱好者。"/>
    <meta name="author" content="POJO">

    <title>Villefranche - 自由城 - src.moe</title>
    <link rel="stylesheet" href="styles/bundle.css">


    <script src="vendor.js"></script>

    <script src="app.js"></script>

</head>

<body>
<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
        <div class="fh5co-table-cell js-fullheight">
            <ul>
                <li class="animated fadeInUp" ng-click="vm.gotoState(nav.state)" ng-repeat="nav in vm.navs" ng-class="nav.state === vm.state.current.name || nav.state == 'resume' && vm.state.current.name == 'index' ? 'current-menu-item': angular.noop">
                    <a ng-href="{{::nav.state}}">{{::nav.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="wrapper multi-purp" id="scale-range">
        <jc-nav></jc-nav>
        <div id="jc-view" ui-view autoscroll="true"></div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-title">Follow Me</div>
                            <div class="text_footer">
                                欢迎大佬们一起来玩。
                            </div>
                            <ul class="soc-footer">
                                <li><a href="http://weibo.com/pojorz"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="https://github.com/POJOa"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/%E5%AD%90%E6%9D%B0-%E9%BB%84-443761126/"><i class="fa fa-linkedin-square"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-title">Contact Me</div>
                            <ul class="contact-footer contact-composer">
                                <li><i class="icon-basic-home"></i> <span>Shanghai Normal University, P.R.China</span></li>
                                <li><i class="icon-basic-smartphone"></i> <span>QQ: 978522749 | Telegram: @POJOa</span></li>
                                <li><i class="icon-basic-mail"></i> <span>Leyline#qq.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-title">Related Projects</div>
                            <div class="tagcloud">
                                <!--
                                <a href="#">tags</a>
                                <a href="#">html</a>
                                -->
                                <a href="http://pojox.net/fr">A Memo of My Glory Days in France</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-ms-12 pull-left">
                            <div class="copyright">Powered By MEAN Stack. </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-ms-12 pull-right">
                            <!--
                            <div class="foot_menu">
                                <div class="menu-footer-menu-container">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
