<div class="page-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-in-name">404 Error</div>
                <div class="page-in-bread">You are here: <a href="/">Home</a> \ 404</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main_pad">
                <strong class="colored oops">Oops, 404 Error!</strong><br><br>
                <p>The page you were looking for could not be found.</p>
            </div>
        </div>
    </div>
</div>