<div class="container marg75">
    <div class="row">
        <div class="col-lg-6">
            <input ng-model="vm.newTopic.title" class="input-cont-textarea" style="margin-left:0px"/>
            <textarea id="new-content-brief" ng-model="vm.newTopic.summary" placeholder="Summary goes here" class="input-cont-textarea"/>
            <input id="new-content-thumb" ng-model="vm.newTopic.thumbnail" placeholder="Thumb goes here" class="input-cont-textarea"/>

        <textarea id="new-topic" ng-model="vm.newTopic.content" placeholder="Contents goes here"
                  class="input-cont-textarea" style="min-height:60rem;position:relative"/>
        </div>
        <div class="col-lg-6">
            <span class="card-title pink-text" style="margin-left:0px">{{vm.newTopic.title}}</span>
            <div markdown-to-html="vm.newTopic.content"></div>
        </div>

    </div>

    <div class="promo-border marg50"></div>

    <div class="row">
        <div class="card-action">
            <div class="left">
                <input type="checkbox" ng-model="vm.newTopic.featured" class="filled-in" id="topic-feature-box" checked="checked"/>
                <label for="topic-feature-box">Featured</label>
                <div ng-repeat="tag in vm.newTopic.tags" class="chip">
                    <div class="chip white-text {{tag.class}}">
                        {{tag.name}}
                    </div>
                    <i class="material-icons" ng-click="vm.deleteTag(tag)">close</i>
                    <i class="clickable" ng-click="vm.modifyTag(tag)">edit</i>
                </div>
            </div>


            <div flow-init
                 flow-files-submitted="vm.upload( $files, $event, $flow )"
                 flow-file-success="$file.msg = $message"
                 class="right">
                <button class="btn btn-default" flow-btn><a>Upload Images</a></button>
                <button class="btn btn-pioneer" ng-click="vm.submitTopic()">Submit</button>
                <label class="right" style="padding-top:-20px" for="new-topic"><span>{{vm.newTopic.content.length}} Words in total</span></label>
            </div>
            &nbsp;
        </div>

        <div class="card">
            <input style="width:150px" ng-model="vm.newTag.name"/>
            <input style="width:150px" ng-model="vm.newTag.class"/>
            <span class="btn" ng-click="vm.addTag(vm.newTopic._id)">Add Tag</span>
            <span class="btn" ng-if="vm.newTopic._id" ng-click="vm.del(vm.newTopic._id)">DELETE</span>

            <input style="width:150px" placeholder="staticType" ng-model="vm.newTopic.staticType"/>
            <input style="width:150px" placeholder="createdAt" ng-model="vm.newTopic.createdAt"/>
        </div>
    </div>
</div>
