<nav class="card white cyan-text" style="margin: 0px;">
    <div class="container">
        <div class="nav-wrapper cyan-text text-darken-1">
            <a href="/" class="brand-logo left clickable pink-text">
                {{::vm.appTitle}}
            </a>
            <a class="button-collapse right clickable cyan-text" data-activates="nav-mobile" data-sidenav="right" data-menuwidth="300" data-closeonclick="true">
                Menu
            </a>
            <ul class="right hide-on-med-and-down">
                <li class="right" ng-repeat="nav in vm.navs" ng-class="nav.state === vm.state.current.name? 'active': angular.noop" >
                    <a class="clickable cyan-text" ng-click="vm.gotoState(nav.state)">{{::nav.title}}
                    </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li ng-repeat="nav in vm.navs" ng-class="nav.state === vm.state.current.name? 'active': angular.noop">
                    <a class="clickable cyan-text" ng-click="vm.gotoState(nav.state)">{{::nav.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
