<div>
    <header>
        <div class="page_head classic-vers">
            <div sticky id="nav-container" class="nav-container" style="height: auto;">
                <nav>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-left">
                                <div class="logo">
                                    <a href="/">
                                        <span class="pull-left logo-text classic-vers">src.moe</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 pull-right">
                                <div class="menu menu-wrapper classic-vers">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                                    <div class="navbar-collapse collapse">
                                        <div class="menu-main-menu-container">
                                            <ul>
                                                <li ng-click="vm.gotoState(nav.state)" data-toggle="collapse" data-target=".navbar-collapse" ng-repeat="nav in vm.navs" ng-class="nav.state === vm.state.current.name || nav.state == 'topics' && vm.state.current.name == 'index' ? 'current-menu-item': angular.noop">
                                                    <a ng-href="{{::nav.state}}">{{::nav.title}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>