<update-title title="自述 - Villefranche - 自由城 - src.moe"></update-title>
<update-meta name="description" content="我的优势是学习能力、合作能力和多样性，我正在加码创新能力。
学习能力：从零经验开始，在实习和工作的短短一年里，我不仅负责过项目排期、需求分析、任务分配的中法外包乙方管理工作，而且到开发一线完成并上线若干项目。
多样性：我的足迹涉及了侧重业务的工业系统和侧重效率的民用系统。我也能适应人力和服务资源丰富和短缺的状况。有一些项目的文档比代码多出几倍，有一些只有三张设计效果图。有时我是说法语的需求协调人员，有时我必须维护中古系统前后端耦合造成的疑难杂症。
合作能力：我负责过十余人的乙方团队和数人的甲方团队的协作，也经历过一人开发电商服务端的精悍敏捷开发。
创新能力：上述能力为我打开了视野，但也同样让我觉得受制于当前的资源和环境，不具备创造知识和构建庞大知识体系的能力和空闲。我选择读研并继续深造，希望在数据分析领域找到自己的兴趣，同时对软件工程加深理解。"></update-meta>

<div id="vf-page" resume>

    <header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">
        <div class="container">
            <div class="fh5co-text-wrap animate-box">
                <div class="fh5co-intro-text">
                    <h1>Who Am I <span>&amp;</span> What I do </h1>
                    <h2>Crafted by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></h2>
                </div>
            </div>
        </div>
        <div class="btn-next animate-box fh5co-learn-more">
            <a href="#" class="scroll-btn">
                <span>See the detail</span>
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </header>

    <div class="js-fh5co-waypoint fh5co-project-detail" id="fh5co-main" data-colorbg="">
        <div class="container">


            <div class="row">
                <div class="col-md-12">

                    <div class="row row-bottom-padded-sm animate-box">
                        <div class="col-md-3">
                            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 1</span> Bio</h3>
                        </div>
                        <div class="col-md-9">
                            <p class="fh5co-lead">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</p>
                            <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns. Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</p>
                        </div>
                    </div>

                    <!--
                    <div class="row animate-box">
                        <div class="bxslider">
                            <div><img src="https://ws4.sinaimg.cn/large/a15b4afegy1ffncllxbgoj210o0kktdo.jpg" /></div>
                            <div><img src="https://ws4.sinaimg.cn/large/a15b4afely1ffm9wfmi9nj20zk0lztlu.jpg" /></div>
                            <div><img src="https://ws4.sinaimg.cn/large/a15b4afely1fet2yd6ascj215e0n7al5.jpg" /></div>
                            <div><img src="https://ws4.sinaimg.cn/large/a15b4afegy1ferywmqi6lj215e0n7n4y.jpg" /></div>
                        </div>
                    </div>
                    -->

                    <div id="carousel-example-generic" class="row animate-box carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="https://ws4.sinaimg.cn/large/a15b4afegy1ffncllxbgoj210o0kktdo.jpg">
                            </div>
                            <div class="item">
                                <img alt="" src="https://ws4.sinaimg.cn/large/a15b4afely1ffm9wfmi9nj20zk0lztlu.jpg">
                            </div>
                            <div class="item">
                                <img alt="" src="https://ws4.sinaimg.cn/large/a15b4afely1fet2yd6ascj215e0n7al5.jpg">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <i class="fa fa-angle-left car_icon"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <i class="fa fa-angle-right car_icon"></i>
                        </a>
                    </div>

                    <div class="row animate-box row-bottom-padded-sm">
                        <div class="col-md-3">
                            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 2</span> Experience</h3>
                        </div>
                        <div class="col-md-9">

                            <p class="fh5co-lead">Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</p>
                            <p>Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns. Design is the creation of a plan or convention for the construction of an object or a system as in architectural blueprints, engineering drawings, business processes, circuit diagrams and sewing patterns.</p>
                        </div>
                    </div>


                    <div class="row animate-box row-bottom-padded-sm">
                        <div class="col-md-3">
                            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 3</span> Connect</h3>
                        </div>
                        <div class="col-md-9">
                            <ul class="fh5co-social fh5co-stack">
                                <li>
                                    <a href="#"><i class="icon-mail2"></i> Send Email</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-twitter"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-facebook"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-instagram"></i> Instagram</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-dribbble"></i> Dribbble</a>
                                </li>

                            </ul>
                        </div>
                    </div>



                    <div class="row animate-box">
                        <div class="col-md-3">
                            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 4</span> My Location</h3>
                        </div>
                        <div class="col-md-12">
                            <div id="fh5co-map"></div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" class="js-fh5co-waypoint">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><small>&copy; 2016 Hold. All Rights Reserved. <br> Created by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a> </small> </p>
                    <ul class="fh5co-social">
                        <li>
                            <a href="#"><i class="icon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>