<div class="container-color-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">We Are</div>
                    <div class="promo-name">Happy Tree Friends</div>
                    <div class="promo-border marg50"></div>
                </div>
            </div>
        </div>
    <div class="row marg30">

        <div ng-repeat="link in vm.links track by $index" style="margin-bottom: 60px" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <div class="testimonials-main">
                <div class="testimonials-block">
                    <div ng-click="vm.open(link.href)" class="testimonials-text">
                        <div class="testimonials-desc">
                            <button class="btn btn-default" ng-click="vm.modify(link)">Modify</button>
                            <button ng-click="vm.del(link)" class="btn btn-default">Delete</button>
                            <p>{{::link.description}}</p>
                        </div>
                        <div class="testimonials-name" ng-click="vm.open(link.href)">
                            <h4>{{::link.title}}</h4> - {{::link.alias}}
                        </div>
                    </div>
                    <div class="testimonials-photo">
                        <img ng-src="{{::link.img}}" alt=""  > <!-- notice the "circle" class -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.isAdmin" class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card {{vm.newLink.color}} z-depth-1">
            <div class="card-content">

            <span class="card-title activator">
                <input ng-model="vm.newLink.title"/>
            </span>

                <div class="row valign-wrapper" style="border-top:1px">
                    <div
                            flow-init
                            flow-files-submitted="vm.upload( $files, $event, $flow )"
                            flow-file-success="$file.msg = $message"
                            flow-btn
                            class="col s2 clickable">
                        <img ng-src="{{vm.newLink.img}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <blockquote class="{{vm.newLink.color}} accent-1">
                            <input ng-model="vm.newLink.description"/>
                        </blockquote>
                        <input width="20px" class="right" ng-model="vm.newLink.alias"/>

                    </div>
                </div>
            </div>

        </div>
        <input width="20px" class="right" ng-model="vm.newLink.color"/>
        <input ng-model="vm.newLink.href"/>
        <button class="btn-large waves-effect waves-light" ng-click="vm.submit()">Submit</button>
    </div>
    </div>
</div>