<!--
<div class="top-nav cyan" style="position:fixed;top:0px;width:100%;height: 288px;z-index:-1">
    <div class="nav-wrapper row">
        <a class="page-title col l9 m9 hide-on-small-only ">
            <span class="titre">&nbsp;</span>
        </a>
    </div>
</div>
<div class="container">
    <jc-topic-card
            jc-topic="vm.topicData"
            jc-topic-share="true"
    >
    </jc-topic-card>
    <p class="text_cont"><textarea ng-model="vm.newComment.body" name="message" placeholder="Comment" id="message" class="input-def-textarea" cols="40" rows="5"></textarea></p>
    <p ng-click="vm.submitComment()"><input type="submit" id="send" class="btn btn-default" value="Send Comment" /></p>


</div>
-->


<div class="wrapper multi-purp">

    <div class="page-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-in-name">自述</div>
                    <div class="page-in-bread">不那么严肃的CV</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg75">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="col-lg-12">
                        <div class="promo-text">职场所需的</div>
                        <div class="promo-name">专业技能</div>
                        <div class="promo-border marg50"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6 col-ms-12">
                <div class="about-us-block">
                    <div class="about-us-title">优势和发展方向</div>
                    <div class="about-us-text">
                        我的优势是学习能力、合作能力和多样性，我正在加码创新能力。<br>
                        学习能力：从零经验开始，在实习和工作的短短一年里，我不仅负责过项目排期、需求分析、任务分配的中法外包乙方管理工作，而且到开发一线完成并上线若干项目。<br>
                        多样性：我的足迹涉及了侧重业务的工业系统和侧重效率的民用系统。我也能适应人力和服务资源丰富和短缺的状况。有一些项目的文档比代码多出几倍，有一些只有三张设计效果图。有时我是说法语的需求协调人员，有时我必须维护中古系统前后端耦合造成的疑难杂症。<br>
                        合作能力：我负责过十余人的乙方团队和数人的甲方团队的协作，也经历过一人开发电商服务端的精悍敏捷开发。<br>
                        创新能力：上述能力为我打开了视野，但也同样让我觉得受制于当前的资源和环境，不具备创造知识和构建庞大知识体系的能力和空闲。我选择读研并继续深造，希望在数据分析领域找到自己的兴趣，同时对软件工程加深理解。
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12 col-ms-12 col-xs-12_marg">
                <div class="about-us-title">技能树</div>
                <div class="progress-per"><div class="prog-name">Java Web</div><div class="prog-per">最熟练</div></div>
                <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div></div>
                <div class="progress-per"><div class="prog-name">Angular 1.x</div><div class="prog-per">较熟练</div></div>
                <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div></div>
                <div class="progress-per"><div class="prog-name">Node.js</div><div class="prog-per">了解</div></div>
                <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div></div>
                <div class="progress-per"><div class="prog-name">MongoDB / Mongoose</div><div class="prog-per">了解</div></div>
                <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div></div>
                <div class="progress-per"><div class="prog-name">English</div><div class="prog-per">CET-6 586</div></div>
                <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%"></div></div>
            </div>
        </div>


    </div>

    <div class="container-color-three marg75">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text">斗胆标榜下</div>
                        <div class="promo-name dark">几个身份</div>
                        <div class="promo-border marg50 dark"></div>
                    </div>
                </div>
                <div class="process-block-one">
                    <div class="process-round">
                        <div class="process-icon"><i class="fa fa-terminal"></i></div>
                        <div class="service-name">青年开发者</div>
                        <div class="service-text">其实叫作 Junior Developer 更为贴切，各种意义上的 Junior，年龄、资历、薪资...</div>
                    </div>
                </div>
                <div class="process-block-two">
                    <div class="process-arrow"><i class="fa fa-plus-square-o"></i></div>
                </div>
                <div class="process-block-one">
                    <div class="process-round">
                        <div class="process-icon yellow"><i class="fa fa-mortar-board"></i></div>
                        <div class="service-name">在读硕士生</div>
                        <div class="service-text">从社会重返校园，并非名校，但任何平台上都有我能做和应做的事。拿到学位，并探寻考博的可行性。</div>
                    </div>
                </div>
                <div class="process-block-two">
                    <div class="process-arrow"><i class="fa fa-plus-square-o"></i></div>
                </div>
                <div class="process-block-one">
                    <div class="process-round">
                        <div class="process-icon yellow">bref.</div>
                        <div class="service-name">法语爱好者</div>
                        <div class="service-text">一年的留法交换经历让我与法国结了缘，得益于B2的法语水平，出于好奇，我处处留心法语国家发生的事情。</div>
                    </div>
                </div>
                <div class="process-block-two">
                    <div class="process-arrow"><i class="fa fa-plus-square-o"></i></div>
                </div>
                <div class="process-block-one">
                    <div class="process-round">
                        <div class="process-icon green"><i class="fa fa-heart"></i></div>
                        <div class="service-name">热爱生活的人</div>
                        <div class="service-text">我喜欢动画、摇滚、旅游，要不是时间紧迫，我也会继续弹吉他和钢琴，也会力图做更好吃的菜。一言以蔽之，热爱生活。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-block">
                        <div class="promo-text">里程碑式的</div>
                        <div class="promo-name">主要项目</div>
                        <div class="promo-border marg50"></div>
                    </div>
                </div>
            </div>
            <div class="row marg30">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-basic-pencil-ruler"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">GReG</h2><p class="serv-desc">全名Gestion du référentiel documentaire du Groupe，标志雪铁龙集团内部业务系统。甲方为项目投入了大量人力物力资源，设计规范、周密。
                                系统具体职能为管理内部文档和外部文档的引用，方式类似文件系统。前端AngularJS，后端Spring，是API+SPA的现代B/S架构。该项目是我接触的第一个商业项目，技术方面第一次涉及Apache POI和定时批量业务，业务方面第一次涉及项目排期和需求沟通工作。</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12 col-xs-12_marg50">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-basic-smartphone"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">商学院排课系统</h2><p class="serv-desc">仿照GReG的架构，我和周同学为母校商学院设计并开发了排课系统，并将它作为毕业论文题目。
                                <br>在此期间我对Java Web系统的结构有了初步的掌握，对Hibernate和Spring Data JPA等ORM的运行和使用方式有了初步的认识，掌握了AngularJS和Angular Material模块化前端SPA开发的相关知识，并对验权、开发迭代周期和代码风格等细节问题形成了初步看法。该项目的实现中有诸多不成熟的地方，到后期需求改动频繁，使我真正开始认识到何谓“开始得越早，结束地越晚”。
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ms-12 col-ms-12_marg">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-basic-sheet-txt"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">DocInfo</h2><p class="serv-desc">因为在GReG项目中的优异表现，我在后一阶段的工作中主要负责DocInfo和CORVET，并辅助其余若干项目的开发和沟通工作。<br>
                                DocInfo是比GReG底层的文档系统，它储存了标志雪铁龙集团内部文档的元数据，并有严格的权限控制和组策略系统，拜此所赐系统也变得庞大、复杂且难以维护。它是由ExtJS、Struts 1和Spring开发完成的，在项目中获得的经验很难言明，从了解走向熟练需要踩坑，而这个项目就是踩坑的过程。</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6  col-ms-12 marg50">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-basic-accelerator"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">CORVET</h2><p class="serv-desc">CORVET是雪铁龙存储车辆和零部件规格信息的机密系统，它于2000年开发，没有使用成熟的Web框架，连SQL也是手拼的，几乎处处存在注入漏洞。在这个项目的开发和维护过程中，我了解了大型企业对信息安全的评估流程（似乎还不够严谨），对普遍的几个问题有了解决的经验，并对“纯净的”Servlet+JSP架构有了一定认识。
                            </p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6  col-ms-12 marg50">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-ecommerce-diamond"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">萌集市 MoeColle</h2><p class="serv-desc">为了体验互联网企业的工作氛围，我加入了某初创企业，在维护原有系统的同时，开始了新的自营电商系统的建设。<br>该项目的需求从三张设计图开始递进式增加，服务端是本人亲自开发的，历时三个月。<br>演示网址 (可能已下线)：http://moecolle.masadora.co/</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6  col-ms-12 marg50">
                    <div class="services-main">
                        <div class="other-serv">
                            <div class="serv-icon"><i class="fa icon-basic-target"></i></div>
                            <div class="serv-block-list"><h2 class="serv-name">您的项目</h2><p class="serv-desc">欢迎一切关于信息系统的委托，我将组建一流的团队以合理的报价为您服务。</p></div>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container marg75">
    <div class="row">
        <div class="col-lg-12">
            <div class="promo-block">
                <div class="promo-text">还要补充的</div>
                <div class="promo-name">更多信息</div>
                <div class="promo-border marg50"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 marg30">
            建设中。请前往我的 <a href="https://www.linkedin.com/in/%E5%AD%90%E6%9D%B0-%E9%BB%84-443761126/">LinkedIn</a> 主页。
        </div>
    </div>
</div>