<div id="card-ctrl" ng-if="vm.isUser || vm.isAdmin" ng-class="vm.content.featured? 'card-action light-blue darken-3' : 'card-action grey lighten-4'" style="border:top:1px solid rgba(255,255,255,0.2)">
    <a ng-if="vm.isAdmin" class="clickable " ng-click="vm.deleteBeats()">Delete</a>
    <a ng-if="vm.isAdmin" class="clickable  " ng-click="vm.modifyBeats()" href='#composeBeats' modal>Modify</a>
    <a class="clickable " ng-click="vm.comment()" href='#comment' modal>Comment</a>
</div>
<ul style="margin-top:0;border:0;" ng-if="vm.content.comments.length" class="collection">
    <li ng-repeat="c in vm.content.comments" class="collection-item" style="background-color: transparent">
        <span class="title">{{c.user[0] ? c.user[0].username : '阿卡林'}} </span>

        <p>{{c.body}}</p>
    </li>
</ul>