
<div style="padding: 5px" class="testimonials-name" ng-if="vm.content.comments.length">
    <div style="width:100%" ng-show="!vm.showAllComments" ng-repeat="c in vm.commentBrief" >
        <!--
        <img ng-if="c.user[0] && c.user[0].avatar" ng-src="{{c.user[0].avatar}}" alt="" class="circle">
-->
        <hr>
        <h4>{{::vm.getName(c)}} </h4>

        <p>{{c.body}}</p>
    </div>
    <div ng-show="vm.showAllComments" ng-repeat="c in vm.content.comments">
        <!--
        <img ng-if="c.user[0] && c.user[0].avatar" ng-src="{{c.user[0].avatar}}" alt="" class="circle">
        -->
        <hr>
        <h4>{{::vm.getName(c)}} </h4>

        <p>{{c.body}}</p>
    </div>
    <div align="right" style="padding-right:5px" class="clickable {{vm.content.featured? 'white-text':'pink-text'}}" ng-if="vm.commentBrief.length !== vm.content.comments.length" ng-click="vm.showMoreComments()">
        {{!vm.showAllComments ? 'Show All Comments' : 'Hide \'em'}}
    </div>

</div>
