<div align="right" style="bottom:60px;position:relative">
    <button type="button" class="btn btn-default btn-xxs" ng-if="vm.isAdmin" ng-click="vm.deleteBeats()">Delete</button>
    <button type="button" class="btn btn-default btn-xxs" ng-if="vm.isAdmin" ng-click="vm.modifyBeats()" href='#compose' data-toggle="modal" data-target="#compose">Modify</button>
    <button type="button" class="btn btn-pioneer btn-xxs" data-toggle="modal" data-target="#comment" ng-click="vm.comment()">Comment</button>
</div>
<div style="padding: 5px" class="testimonials-name" ng-if="vm.content.comments.length">

    <div ng-show="!vm.showAllComments" ng-repeat="c in vm.commentBrief">
        <hr>
        <h4>{{::vm.getName(c)}} </h4>
        <p>{{c.body}}</p>
    </div>
    <div ng-show="vm.showAllComments" ng-repeat="c in vm.content.comments">
        <hr>
        <h4>{{::vm.getName(c)}} </h4>
        <p>{{c.body}}</p>
    </div>
    <div align="right" style="padding-right:5px" class="clickable {{vm.content.featured? 'white-text':'pink-text'}}" ng-if="vm.commentBrief.length !== vm.content.comments.length" ng-click="vm.showMoreComments()">
        {{!vm.showAllComments ? 'Show All Comments' : 'Hide \'em'}}
    </div>

</div>
