<div class="page-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-in-name">登录 / 注册</div>
                <div class="page-in-bread">总之都写在一起啦</div>
            </div>
        </div>
    </div>
</div>
<div class="container">


    <div class="marg75">
        <div>
            <input placeholder="Nickname" class="input-cont-textarea" ng-model="vm.userLogin.username"/>
            <input type="password" class="input-cont-textarea" placeholder="Password" ng-model="vm.userLogin.password"/>

        </div>
        <div>
                <a class="btn btn-pioneer" ng-click="vm.loginOrReg()">Do It!</a>
            &nbsp;
        </div>
    </div>

    <div class="promo-border marg50"></div>

    <div class="marg75">
        <div class="card-content" ng-show="vm.currentUser._id !== undefined && vm.currentUser._id !== null">
            <div class="testimonials-photo">
                <img ng-src="{{vm.currentUser.avatar}}" ng-if="vm.currentUser.avatar"/>
            </div>
            <div class="card-panel pink lighten-2 white-text card-title">{{vm.currentUser.username}} , 传个头像填个联系方式啦...</div>
            <p>加密用的是Bcrypt,请求都走的https,请放心。</p>
            <div flow-init
                 flow-files-submitted="vm.upload( $files, $event, $flow )"
                 flow-file-success="$file.msg = $message"
                 flow-btn class="btn btn-pioneer">1.传头像 成功了会在右侧直接显示出来</div>
            <input class="input-cont-textarea" ng-model="vm.currentUser.contact" placeholder="2.填联系方式...微博微信Telegram邮箱企鹅都可以 暂时不会展示在前端里" type="text"/>
            <div ng-click="vm.updateUser()" class="btn btn-default">3.提交</div>
        </div>
    </div>

</div>
