<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title pink-text" style="margin-left:0px"><del>Login and Register Lottery</del></span>
            <input placeholder="Nickname" ng-model="vm.userLogin.username"/>
            <input type="password" placeholder="Password" ng-model="vm.userLogin.password"/>

        </div>
        <div class="card-action">
            <div class="right">
                <a class="btn clickable waves-effect waves-light" ng-click="vm.loginOrReg()">Login/Reg</a>
            </div>
            &nbsp;
        </div>
    </div>
    <div class="card">
        <div class="card-content" ng-show="vm.currentUser._id !== undefined && vm.currentUser._id !== null">
            <div class="card-panel pink lighten-2 white-text card-title">{{vm.currentUser.username}} , 传个头像填个联系方式啦...用来互粉什么的</div>
            <p>吐槽:写商城好累 这个模块做不动了 然而功能还是有的 不用太担心密码的问题 这里用的是Bcrypt 然而还没上https —— 16/07/16 0:02</p>
            <div flow-init
                 flow-files-submitted="vm.upload( $files, $event, $flow )"
                 flow-file-success="$file.msg = $message"
                 flow-btn class="btn">1.传头像 成功了会在这个div里直接显示出来</div>
            <img ng-src="{{vm.currentUser.avatar}}" ng-if="vm.currentUser.avatar"/>
            <input ng-model="vm.currentUser.contact" placeholder="2.填联系方式...微博微信Telegram邮箱企鹅都可以 暂时不会展示在前端里=。=" type="text"/>
            <div ng-click="vm.updateUser()" class="btn">3.提交才会生效啦w</div>
        </div>
    </div>

</div>
