<div class="container">
    <jc-topic-card
            jc-topic="vm.topicData"
            jc-topic-share="true"
    >
    </jc-topic-card>
    <!-- Modal Structure -->
    <div id="comment" class="card" ng-if="vm.isUser">
        <div class="card-content">
            <span class="card-title">Comment</span>
            <input type="text" ng-model="vm.newComment.body">
            <a class="modal-action modal-close waves-effect waves-green btn clickable" ng-click="vm.submitComment()">SEND!</a>
            <p class="text-grey">评论完暂时需要手动刷新页面...</p>
        </div>
    </div>

</div>
