<update-title title="作文 - Villefranche - 自由城 - src.moe"></update-title>
<update-meta name="description" content="POJO个站的博客栏目。"></update-meta>

<div>

    <div class="page-in animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-in-name  animated fadeInDown">作文</div>
                    <div class="page-in-bread  animated fadeInUp">连雨不知春去，一晴方觉夏深。</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.topicList.length" when-not-visible="vm.animateElementOut" class="container">

        <jc-topic-card
                class="repeated-item"
                jc-topic="vm.loading"
                jc-topic-brief="true"
        >
        </jc-topic-card>
        <jc-topic-card
                class="repeated-item"
                jc-topic="vm.loading"
                jc-topic-brief="true"
        >
        </jc-topic-card>
        <jc-topic-card
                class="repeated-item"
                jc-topic="vm.loading"
                jc-topic-brief="true"
        >
        </jc-topic-card>
        <jc-topic-card
                class="repeated-item"
                jc-topic="vm.loading"
                jc-topic-brief="true"
        >
        </jc-topic-card>
    </div>

    <div style="margin-bottom: 150px">
        <div class="container" infinite-scroll-distance="1" infinite-scroll="vm.loadMore()">
            <div class="not-visible"  when-visible="vm.animateElementIn"  ng-repeat="top in vm.topicList track by $index">
                <jc-topic-card
                        class="repeated-item"
                        jc-topic="top"
                        jc-topic-brief="true"
                >
                </jc-topic-card>
            </div>
        </div>
    </div>
</div>
