<div class="container" id="scroll-cont" resize>
    <div class="row">
        <div class="col-lg-12">
            <div class="promo-block">
                <div class="promo-name">造句</div>
                <div class="promo-text">时不时地就想记录生活</div>
                <div class="promo-border marg50"></div>
            </div>
        </div>
    </div>
    <div>
        <!--
    <div ng-if="winWidth > 700"
         angular-grid="vm.displayedData"
         ag-id="cards"
         ag-infinite-scroll-distance="70"
         ag-infinite-scroll="vm.loadMore()"
         ag-performant-scroll="true"
         ag-scroll-container="#scroll-cont"
         ag-page-size="9"
    >
        <div ng-repeat="data in vm.displayedData track by data._id">
            <jc-card jc-show-utc-cn="true" jc-content="data"></jc-card>
        </div>
    </div>
-->
    <div infinite-scroll-distance="2" infinite-scroll="vm.loadMore()">
        <div ng-repeat="data in vm.displayedData track by data._id">
            <jc-card jc-show-utc-cn="true" jc-content="data" jc-hide-progress="true"></jc-card>
        </div>
    </div>
    </div>
</div>
