<div class="container">
    <div ng-if="vm.isAdmin">
    <div class="card big">
        <div flow-init
             flow-files-submitted="vm.upload( $files, $event, $flow )"
             flow-file-success="$file.msg = $message"
             class="card-image">
            <img ng-src="{{vm.newBaladeur.image[0]}}" class="clickable" flow-btn/>
            <span class="card-title">{{vm.newBaladeur.artist + ' - ' + vm.newBaladeur.title}}</span>

        </div>

        <div class="card-content">
            <input ng-model="vm.newBaladeur.description" />

        </div>


    </div>
        <input ng-model="vm.newBaladeur.artist" />
        <input ng-model="vm.newBaladeur.title" />
        <input ng-model="vm.newBaladeur.genre" />
        <div class="row">
                <div input-field class="input-field col s6">
                    <select class="" ng-model="vm.newBaladeur.emo" material-select watch>
                        <option>emo</option>
                        <option ng-repeat="value in vm.choices">{{value}}</option>
                    </select>
                </div>
            <div input-field class="input-field col s6">
                <select class="" ng-model="vm.newBaladeur.express" material-select watch>
                    <option>express</option>
                    <option ng-repeat="value in vm.choices">{{value}}</option>
                </select>
            </div>

        </div>
        <input ng-model="vm.newBaladeur.ids[0]" />
        <input ng-model="vm.newBaladeur.ids[1]" />
        <input ng-model="vm.newBaladeur.ids[2]" />
        <input ng-model="vm.newBaladeur.ids[3]" />
        <input ng-model="vm.newBaladeur.ids[4]" />

        {{vm.newBaladeur}}
    <span ng-click="vm.submit()" class="btn-large">Submit</span>
    </div>
    <div infinite-scroll-distance="1" infinite-scroll="vm.loadMore()">
        <div ng-repeat="b in vm.baladeurList track by $index">
            <div class="card big">
            <div
                 class="card-image">
                <img ng-src="{{b.image[0]}}" class="clickable"/>
                <span class="card-title">{{b.artist + ' - ' + b.title + ' | ' + b.genre}}</span>

            </div>

            <div class="card-content">
                <p>{{b.description}}</p>

            </div>
            <div class="card-action" style="padding-left: 0px;padding-right: 0px;">
                <music-player ng-model="b.ids" play-config="vm.playConfig"></music-player>
            </div>
            <div ng-if="vm.isAdmin">
                <span class="btn-large" ng-click="vm.edit(b)">edit</span>
                </div>
        </div>
    </div>
</div>
