<div class="container">
    <div class="row" iln-match-height>
        <div class="card hoverable grey lighten-4 grey-text col s12 m12 l6">
            <div class="card-content" >
                <p >
                    <span style="margin-right: 10px" >CATEGORIES</span>
                    <span ng-class="vm.settings.current === 'all' ? 'pink-text' : 'black-text'" style="margin-right: 10px" class="clickable " ng-click="vm.all()">ALL</span>
                <span ng-class="vm.settings.current === 'moe' ? 'pink-text' : 'black-text'" style="margin-right: 10px" class="clickable " ng-click="vm.moe()">MOE</span>
                </p>
                <div style="margin-top:10px;margin-bottom:0px" class="row">
                <p class="col s6" style="width: 230px">
                    <span>EMOTION </span>
                    <input ng-model="vm.settings.emo.neg" type="checkbox" class="filled-in" id="EMO-1" checked="checked" />
                <label for="EMO-1">NEGATIVE</label>
                <input ng-model="vm.settings.emo.soso" type="checkbox" class="filled-in" id="EMO0" checked="checked" />
                <label for="EMO0">FUZZY</label>
                <input  ng-model="vm.settings.emo.pos" type="checkbox" class="filled-in" id="EMO1" checked="checked" />
                <label for="EMO1">POSITIVE</label>
                </p>
                <p class="col s6" style="width: 230px">
                <span>STYLE OF EXPRESSION </span>
                <input ng-model="vm.settings.express.neg" type="checkbox" class="filled-in" id="EXPRESS-1" checked="checked" />
                <label for="EXPRESS-1">SOFT</label>
                <input ng-model="vm.settings.express.soso" type="checkbox" class="filled-in" id="EXPRESS0" checked="checked" />
                <label for="EXPRESS0">NORMAL</label>
                <input ng-model="vm.settings.express.pos" type="checkbox" class="filled-in" id="EXPRESS1" checked="checked" />
                <label for="EXPRESS1">HARDCORE</label>
                </p>
                </div>
            </div>
        </div>
            <div class="col l6 hide-on-med-and-down " >
                <div class="card-panel pink " style="height:100%">
          <span class="white-text">
              <a class="cyan-text text-lighten-4" href="https://fr.wikipedia.org/wiki/Baladeur"> Baladeur </a>is almost identical to CD Walkman but in French, known as the official expression suggested by French and Canada gov to cope with culture invasion(?), but sadly nobody tends to use it. <del>Quite funny right?</del><br>
              You could see a filter on the left-side , classified by Contents , Emotions and Expressions , pretty handy if you want to exclude something.<br>
              The indicator below each image is not a decoration , its color represents EMOTION , and its length shows STYLE OF EXPRESSION.
          </span>
                </div>
            </div>
    </div>









    <!-- FAB -->

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large" ng-click="vm.scrollTop()">
            <i class="material-icons">publish</i></a>

        <ul>
            <li><a ng-if="vm.isAdmin" class="btn-floating" href='#addSong' modal><i class="material-icons">mode_edit</i></a></li>
        </ul>
    </div>

    <!-- Modal Structure -->
    <div id="addSong" class="modal" style="width: 100%;height: 100%;">
        <div class="container" ng-if="vm.isAdmin">
                <div flow-init
                     flow-files-submitted="vm.upload( $files, $event, $flow )"
                     flow-file-success="$file.msg = $message"
                     class="card-image">
                    <img ng-src="{{vm.newBaladeur.image[0]}}" class="clickable" flow-btn/>
                    <span class="card-title">{{vm.newBaladeur.artist + ' - ' + vm.newBaladeur.title}}</span>

                </div>

                <div class="card-content row">
                    <textarea ng-model="vm.newBaladeur.description" style="min-height:40rem" class="col s6 materialize-textarea"></textarea>
                    <div class="col s6" markdown-to-html="vm.newBaladeur.description"></div>

                </div>

             <input ng-model="vm.newBaladeur.artist" />
                <input ng-model="vm.newBaladeur.title" />
                <input ng-model="vm.newBaladeur.genre" />
                <div class="row">

                    <div input-field class="input-field col s6">
                        <p class="range-field">
                            <span>Emo</span>
                            <input type="range" id="test4" ng-model="vm.newBaladeur.emo" min="0" max="2" />
                        </p>
                    </div>
                    <div input-field class="input-field col s6">
                        <p class="range-field">
                            <span>Express</span>
                            <input type="range" id="test5" ng-model="vm.newBaladeur.express" min="0" max="2" />
                        </p>
                    </div>

                </div>
                <input ng-model="vm.newBaladeur.ids" placeholder="Songs"/>

                <span ng-click="vm.submit()" class="btn-large waves-effect waves-light">Submit</span>

        </div>
    </div>



    <div class="row" infinite-scroll-distance="1" infinite-scroll="vm.loadMore()">
        <div class="col s12" style="padding: 0" ng-repeat="b in vm.baladeurList track by $index">
            <div class="card big hoverable">
            <div style="max-height:400px;overflow:hidden"
                 class="card-image">
                <img ng-src="{{b.image[0]}}"/>
                <span class="card-title">{{b.artist + ' - ' + b.title + ' | ' + b.genre}}</span>

            </div>
                <div class="progress">
                    <div class="determinate {{b.style}}" style="width: {{b.express === 2 ? 100 : (b.express+1) * 30}}%"></div>
                </div>
                <music-player ng-model="b.ids" play-config="vm.playConfig"></music-player>

            <div class="card-content">
                <p markdown-to-html="b.description"></p>

            </div>

            <div ng-if="vm.isAdmin">
                <span class="btn-large" href='#addSong' ng-click="vm.edit(b)" modal>edit</span>
            </div>
        </div>
    </div>
</div>


</div>