<update-title title="友链 - Villefranche - 自由城 - src.moe"></update-title>
<update-meta name="description" content="和我在线上有不少互动的大佬们"></update-meta>

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">We Are</div>
                    <div class="promo-name">Happy
                        <del>Tree</del>
                        Friends
                    </div>
                    <div class="promo-border marg50"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-two">
        <div class="row marg30" style="padding-top: 60px;margin-bottom: 60px">
            <div class="container">
                <div ng-repeat="link in vm.links track by $index" style="margin-top: 30px;margin-bottom: 30px;height: 300px" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                    <div class="testimonials-main">
                        <div class="testimonials-block">
                            <div class="testimonials-text">
                                <div class="testimonials-desc">
                                    <button ng-if="vm.isAdmin" class="btn btn-default" ng-click="vm.modify(link)">Modify</button>
                                    <button ng-if="vm.isAdmin" ng-click="vm.del(link)" class="btn btn-default">Delete</button>
                                    <h4 class="title-light">{{::link.description}}</h4>
                                </div>
                                <div ng-click="vm.open(link.href)" class="testimonials-name clickable"
                                ">
                                <h4>{{::link.title}}</h4> <br> <a ng-href="{{::link.href}}">{{::link.alias}}</a>
                            </div>
                        </div>
                        <div ng-click="vm.open(link.href)" class="testimonials-photo clickable">
                            <img ng-src="{{::link.img}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-if="vm.isAdmin" class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="promo-border marg50"></div>

    <div class="container">
        <div class="row">

            <input type="text" name="name" placeholder="Name" class="input-cont-textarea" ng-model="vm.newLink.title">

            <div class="row valign-wrapper" style="border-top:1px">
                <div
                        flow-init
                        flow-files-submitted="vm.upload( $files, $event, $flow )"
                        flow-file-success="$file.msg = $message"
                        flow-btn
                        class="col s2 clickable">
                    <img ng-src="{{vm.newLink.img}}" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                    <input type="text" name="name" placeholder="Name" class="input-cont-textarea" ng-model="vm.newLink.description">
                    <input type="text" name="name" placeholder="Name" class="input-cont-textarea" ng-model="vm.newLink.alias">
                </div>
                <input type="text" name="name" placeholder="Name" class="input-cont-textarea" ng-model="vm.newLink.color">
                <input type="text" name="name" placeholder="Name" class="input-cont-textarea" ng-model="vm.newLink.href">
                <button class="btn-vf btn" ng-click="vm.submit()">Submit</button>
            </div>
        </div>

    </div>

</div>
</div>
</div>