<div>


        <div ng-if="vm.jcTopicBrief" class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{::vm.jcTopic.thumbnail}}"/>
        </div>

        <div class="classic-blog">
            <!--
            <div class="cl-blog-video"><iframe src="http://player.vimeo.com/video/84759655?title=0&amp;byline=0&amp;portrait=0&amp;color=00c0e1" width="100%" height="741" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            -->
            <div ng-if="vm.jcTopicBrief" class="cl-blog-naz">
                <div class="cl-blog-type"><i class="icon-basic-video"></i></div>
                <div class="cl-blog-name" ng-click="vm.selectTopic(vm.jcTopic.title)"><a href="#">{{::vm.jcTopic.title}}</a></div>
                <div class="cl-blog-detail">
                    <i class="icon-basic-clock" style="padding-right: 6px"></i>
                    <span style="padding-right: 10px">{{::vm.jcTopic.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                    <i ng-if="vm.jcTopic.tags.length" class="icon-basic-signs" style="padding-right: 6px"></i>
                    <span ng-repeat="tag in ::vm.jcTopic.tags">{{::tag.name}} </span>
                </div>
                <h4 ng-if="vm.jcTopicBrief" class="cl-blog-text title-light">{{::vm.jcTopic.summary}} </h4>
            </div>

            <div ng-if="!vm.jcTopicBrief" class="cl-blog-text" ng-bind-html="vm.jcTopic.html"></div>

            <div ng-if="!vm.jcTopicBrief" class="row marg50">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="tags-blog-single">
                        <ul class="tags-blog">
                            <li ng-repeat="tag in vm.jcTopic.tags"><a href="#">{{tag.name+' '}} </a></li>
                        </ul>
                    </div>
                </div>
                <div ng-if="vm.jcTopicShare" ng-click="vm.share()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="soc-blog-single">
                        <ul class="soc-blog">
                            <button class="btn btn-pioneer btn-large"><a href="#"><i class="fa fa-weibo"></i> &nbsp; Share To Weibo</a></button>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="vm.jcTopicBrief">
            <div class="cl-blog-read" style="margin-right: 20px"><a ng-click="vm.selectTopic(vm.jcTopic.title)" href="#">Read More</a></div>
            <div class="cl-blog-read"><a ng-if="vm.isAdmin" ng-click="vm.editTopic(vm.jcTopic._id)" href="#">Edit</a></div>
            <div class="cl-blog-line"></div>
            </div>
        </div>
        <!--
        <div class="card-content" ng-class="!vm.jcTopic.featured || !vm.jcTopicBrief? 'black-text':'white-text'">
            <div class="right">
                <a ng-if="vm.isAdmin" ng-click="vm.editTopic(vm.jcTopic._id)" class="modal-action waves-effect waves-green btn clickable">Edit</a>
            </div>
            <span class="card-title activator" ng-class="!vm.jcTopic.featured || !vm.jcTopicBrief? 'cyan-text':'yellow-text'" style="margin-left:0">{{::vm.jcTopic.title}}</span>
            <p>
                <span>{{::vm.jcTopic.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                <div ng-repeat="tag in vm.jcTopic.tags"  class="chip white-text {{tag.class}}">
                    {{tag.name}}
                </div>
            </p>

            <p ng-if="vm.jcTopicBrief">{{::vm.jcTopic.summary}}</p>
            <div ng-if="!vm.jcTopicBrief" ng-bind-html="vm.jcTopic.html"></div>
            <a ng-if="vm.jcTopicShare" class="clickable btn" ng-click="vm.share()">
                WEIBO SHARE
            </a>
        </div>
-->
    <div ng-if="vm.jcTopic.comments.length<=0" class="cl-blog-line-com"></div>

    <div ng-if="!vm.jcTopicBrief && vm.jcTopic.comments && vm.jcTopic.comments.length>0">
    <h3>{{::vm.jcTopic.comments.length}} Comments on "{{::vm.jcTopic.title}}"</h3>
        <!--
    <div class="comment marg25">
        <img src="assets/images/mila.png" alt="" class="img_comm">
        <div class="comm_name">Mila Doe <span>- 7 February 2014</span></div>
        <p class="text_cont com_top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sed facere numquam accusantium ratione neque nulla veniam voluptatem officiis libero eaque expedita dignissimos aliquam alias cupiditate sunt doloribus fugit.</p>
    </div>
    -->
        <div ng-repeat="c in vm.jcTopic.comments" >
    <div class="comment" style="padding:15px 0px 15px 0px;">
        <img ng-if="c.user[0] && c.user[0].avatar" ng-src="{{c.user[0].avatar}}" alt="" class="img_comm">
        <div class="comm_name">{{c.user[0] ? c.user[0].username : '阿卡林'}}</div>
        <p class="text_cont com_top">{{c.body}}</p>
    </div>
            <div class="cl-blog-line-com"></div>

        </div>

    </div>



    </div>
