.date-nav .btn-flat {
    padding: 0 0.6rem;
}

.date-nav {
    margin: 0 !important;
}

.wrapper-date-nav {
    position: relative !important;
    z-index: 2;
    width: 100%
}

#card-ctrl{
    z-index:0;!important;
}

img {
    width: 100%;
}

img.circle.content.link{
    height:100%;
}
.box{
    position: relative;
    width: 75%;		/* desired width */
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}
ul.collection{
    overflow:inherit;!important;
}

.card-action.article{
    border-top:0!important;
}
label{
    padding-left: 25px!important;
    width: 120px;
}
.content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-action {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

div.wrapper-topic-list-elem.pinned {
    top: 48px !important;
    width: inherit;
!important;
}

.wrapper-topic-list {
    position: relative !important;
    z-index: 1;
}

.slider .slides li {
    position: absolute !important;

    z-index: auto !important;

}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.slider .slides li.active {
    position: absolute !important;

    z-index: auto !important;

}

.slider .slides li img {
    position: absolute;
    top: 0;
}

#materialbox-overlay {
    z-index: 999 !important;

}

.grid {
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.progress.img-loaded {
    visibility: hidden !important;
    height: 0px;
}

.grid-img.img-loaded {
    visibility: visible;
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

.angular-grid-item .card {
    position: inherit !important;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.progress {
    margin: 0 !important;
}

.card p {
    font-size: 17px !important;
    margin-bottom: 10px !important;
}

.card .card-image {
    position: inherit !important
}

.card .card-image img {
    position: inherit !important
}

.grid .card-title {
    margin-left: 0px;
}

.nav-fab {
    bottom: 45px;
}

.material-placeholder {
    height: 100%;
}

.card-title {
    margin-left: 10px;
}

.card-action label {
    margin-right: 20px;
}

p{
    word-wrap: break-word;
    word-break: normal;
}